# Исходный код (доступны только собранные файлы)
/src

# Демо материалы (они будут доступны на GitHub Pages)
/demo

# Конфигурационные файлы
vite.config.js
.github/
.gitignore
.npmignore

# Файлы разработки и тесты
/coverage
/tests
*.test.js
*.spec.js

# Настройки редакторов
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Логи и временные файлы
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*
.cache/
node_modules/ 